<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/ex2.css">
  <script defer src="../static/ex2.js"></script>
  <title>{% block title %}{% endblock %}</title>
</head>


<body class="body">
    {% include('header.html') %}
    {% if session['logedin'] %}
        <h3 style="color : rgb(240, 128, 128)">HI, {{ session['username'] | upper() }}</h3>
    {% endif %}
    {% block tohen %}
        <h1 style="color : rgb(240, 128, 128)">Assignment 3</h1>
    {% endblock %}


</body>
</html>