.pics{
    animation: blinkPic1 1s infinite;
}

.logo{
    width: 100px;
    display: inline-flex;
}

.logo img{
    margin: auto 5px;
    float: left;
    width: 150px;
    height: 38px;
}

@keyframes blinkPic1{
    0% {opacity: 0;}
    33% {opacity: 0.5;}
    66% {opacity: 1;}
}

@keyframes blinkPic2{
    33% {opacity: 0;}
    66% {opacity: 0.5;}
    0% {opacity: 1;}
}

@keyframes blinkPic3{
    66% {opacity: 0;}
    0% {opacity: 0.5;}
    33% {opacity: 1;}
}