<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <title>Contact Us</title>
  </head>

  <body style="background-color:powderblue;">
    <!-- Header -->
    <header>
      <div>
        <h1 style="color: rgb(240, 128, 128); text-align: center; font-size: 300%;"> Adopt Me</h1>
      </div>
    </header>

    <!-- Section A: Contact Form -->
    <section >
      <div>
        <div style="text-align: center; ">
        <h2>Contact Us</h2>
        <div></div>
        <p style = "font-size: 120%";> For more information, please leave details and we will get back to you soon </p>
          <div class="text-fields">
            <div style="text-align: center;">
            <input
              type="text"
              placeholder="First Name"
              name="First Name"
            />
            <input
              type="text"
              placeholder="Last Name"
              name="Last Name"
            /><br><br>
            <input
              type="email"
              placeholder="Email Address"
              name="email"
            />
            <input
              type="text"
              placeholder="Phone Number"
              name="phone"
            /><br><br>
            <textarea
              placeholder="Enter Message"
              name="message"
              rows= "6"
              cols= "26"
            ></textarea>
          </div>
          <div style="padding: 20px; text-align: center; ">
          <button type="submit" style="background-color:rgb(240, 128, 128);">Submit</button>
      </div>
    </section>

    <!-- Section B: Contact Info -->
    <section>
      <div>
        <div>
            <div style="text-align: center; ">
          <div style="display: inline-block; padding: 10px">
            <i class="fas fa-envelope fa-2x" style="color: rgb(240, 128, 128);"></i>
            <h3 style="color: rgb(240, 128, 128);">Email</h3>
            <a href="mailto:burgr@post.bgu.ac.il">burgr@post.bgu.ac.il</a>
          </div>
          <div style="display: inline-block; padding: 10px">
            <i class="fas fa-phone fa-2x" style="color: rgb(240, 128, 128);"></i>
            <h3 style="color: rgb(240, 128, 128);">Phone</h3>
            <a href="tel:0542488554">+972 54 2488554</a>
          </div>
          <div style="display: inline-block; padding: 10px">
            <i class="fas fa-address-card fa-2x" style="color: rgb(240, 128, 128);"></i>
            <h3 style="color: rgb(240, 128, 128);">Address</h3>
            <p>Be'er Sheva, Israel</p>
          </div>
        </div>
      </div>
    </section>  
    
    <p style="text-align: center; font-size: 120%;">
      <a href="Home.html">Home</a>
      </p>
                

    <!-- Section C: Tagline -->
    <section>
      <div>
        <div style="border: 2px solid rgb(240, 128, 128); padding: 20px; text-align: center; ">
        <h1>Make your life better!!</h1>
      </div>
    </section>


  </body>
</html>