<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:powderblue;">

    <h1 style="color: rgb(240, 128, 128); text-align: center; font-size: 300%;"> Adopt Me</h1>
    <h1 style= "color: rgb(240, 128, 128);text-align: center; font-size: 150%;">Our dogs are looking for a new home, just look at them! </h1>

    <section >
    <div style= "text-align: center">
        <div class="contact-info">
          <div style="display: inline-block; padding: 10px">
            <img src="C:\Users\rburg\OneDrive - Intel Corporation\Documents\לימודים\שנה ג\סמסטר ב\web\Personal Assignments\Assignment 1\static\3.jpg" height=300>
            <p style="color: rgb(240, 128, 128);">I'm waiting for you!</p>
        </div>
          <div style="display: inline-block; padding: 10px">
            <img src="C:\Users\rburg\OneDrive - Intel Corporation\Documents\לימודים\שנה ג\סמסטר ב\web\Personal Assignments\Assignment 1\static\1.jpg" height=300>
            <p style="color: rgb(240, 128, 128);">Save Me!</p>
        </div>
          <div style="display: inline-block; padding: 10px">
            <img src="C:\Users\rburg\OneDrive - Intel Corporation\Documents\לימודים\שנה ג\סמסטר ב\web\Personal Assignments\Assignment 1\static\2.jpg" height=300>
            <p style="color: rgb(240, 128, 128);">Don't you think I'm cool??</p>
          </div>
        </div>
      </div>
    </section>

    <p style="text-align: center; font-size: 120%;">
        <a href="contact.html"> Contact Us</a>
    </p>

</body>
</html>