<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/ex2.css">
        <script defer src="../static/ex2.js"></script> 
        <title>Home</title>
    </head>
    <body class="body">

      <header>
        <div class="container">
          <img class="dogIcon" src="../static/dogIcon.png"  height="50">
          <h1 class="logo">Adopt Me</h1>
              
          <nav>
            <ul>
              <li><a href="home.html">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Donate</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </nav>
        </div>

        </header>
        
        <div>
          <h1 class="homeHeader">Home</h1>
          <h1 class="about">Our dogs are looking for a new place, just look at them!</h1>
        </div>

        <div class="images">

        <div class="image">
          <img class="image__img" src="../static/3.jpg" height="300">
            <div class="image__overlay">
              <div class="image__title">	COPPER </div>
              <p class="image__description">
                "I'm waiting for you!"   
              </p>
            </div>
          </div>

      </header><div class="image2">
        <img class="image__img" src="../static/1.jpg"  height="300">
        <div class="image__overlay2">
          <div class="image__title">BENJI</div>
          <p class="image__description">
            "Save Me!"
          </p>
          </div>
        </div>

      </header><div class="image3">
        <img class="image__img" src="../static/2.jpg"  height="300">
        <div class="image__overlay3">
          <div class="image__title">Brandon</div>
          <p class="image__description">
            "Don't you think I'm cool??"
          </p>
          </div>
        </div>

        </div>
        <div>
          <div id="lastSection">
        </div>
        
    </body>
    </html>